* {
  box-sizing: border-box;
  line-height: normal;
}

a {
  text-decoration: none;
  color: black;
}

body {
    margin: 0 !important;
    padding: 0 !important;
}

.heaetext {
  width: 75%;
  max-width: 700px;
  margin: auto;
  margin-top: 16vh;
  margin-bottom: 16vh;
  text-align: left;
}

.heaetext>h3 {
  font-family: 'aktiv-grotesk-extended', sans-serif;
  font-size: 50px;
}

.heaetext>p {
  font-size: 16px;
  line-height: 140%;
  font-family: 'aktiv-grotesk', sans-serif;
}

.projshow {
  width: 100%;
  padding-top: 6%;
  padding-bottom: 6%;
}

.projshowa {
  width: 100%;
  padding-top: 6%;
  padding-bottom: 6%;
}

.projgridhold {
  width: 95%;
  margin: auto;
}

.projgrid {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-column-gap: 10px;
  grid-template-rows: auto auto;
  grid-row-gap: 10px;
}

.projpicdim {
  width: 100%;
}

.projpic-a {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

.projpic-b {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  background-image: url(assets/animoc.gif);
  background-position: center;
  background-size: cover;
}

.projpara {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 3;
  padding-left: 20px;
  padding-right: 20px;
}

.projpic-c {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}

.projpic-d {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
}

.projparab {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
  padding-left: 20px;
  padding-right: 20px;
}

.projpica-a {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
}

.projpica-b {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
}

.projpica-c {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

.projpica-d {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 3;
}

.projpic-large {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
}

.projpica-bigright {
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
}

#countingdown {
  background: #F6F1F1;

}

div[class*="projpara"]>h3 {
  font-size: 30px;
  font-family: 'aktiv-grotesk-extended', sans-serif;
}

div[class*="projpara"]>p {
  font-size: 16px;
  line-height: 140%;
  font-family: 'aktiv-grotesk', sans-serif;
}

.altpara>h3 {
  font-size: 30px;
  font-family: 'aktiv-grotesk-extended', sans-serif;
}

.altpara>p {
  font-size: 16px;
  line-height: 140%;
  font-family: 'aktiv-grotesk', sans-serif;
}

.altparahold {
  width: 100%;
  max-width: 700px;
  margin: auto;
  padding-bottom: 7%;
  display: none;
}

.portfoliohead {
  padding-top: 60px;
}

#counta {
  font-family: 'aktiv-grotesk-extended', sans-serif;
  font-size: 30px;
  text-align: center;
}

#counta>span.big {
  color: #33BC6A;
}

#countwidth {

}

#countdowndisp {
  display: -webkit-box;
   display: -moz-box;
   display: -ms-flexbox;
   display: -webkit-flex;
   display: flex;
   align-items: center;
   justify-content: center;
   height: 100%;
}

#projgrid {
  display: inline-flex;
}

.timedown {
  margin: auto;
}

#countdownhii {
  display: inherit;
  height: 100%;
}

#report {
  background-image: url(assets/epi_paper_casestudyprev.jpg);
  background-size: cover;
  background-position: center;
}

#arduino {
  background-image: url(assets/epi_start_caseprev.jpg);
  background-size: cover;
  background-position: center;
}

#poster {
  background-image: url(assets/hmnst03.jpg);
  background-size: cover;
  background-position: center;
}

#booklet {
  background-image: url(assets/hmnst05.1.jpg);
  background-size: cover;
  background-position: center;
}

#process {
  background-image: url(assets/iocons.jpg);
  background-size: cover;
  background-position: center;
  height: auto;
}

#accessdenied {
  background-image: url(assets/cover03.jpg);
  background-size: cover;
  background-position: center;
}

#moodboard {
  background-image: url(assets/showstyle.jpg);
  background-size: cover;
  background-position: center;
}

#colorbox {
  background-image: url(assets/color.jpg);
  background-size: cover;
  background-position: center;
}

#colabmoc {
  background-image: url(assets/quickmoc.jpg);
  background-size: cover;
  background-position: center;
}

#allill {
  background-image: url(assets/bitensem.png);
  background-size: cover;
  background-position: center;
}

#dat {
  background-image: url(assets/DAT04.jpg);
  background-size: cover;
  background-position: center;
}

#contained {
  padding: 6%;
}

#abapicv {
  background-image: url(assets/animoc.gif);
  background-size: cover;
  background-position: center;
}

#botmov {
  background-image: url(assets/botnet.gif);
  background-size: cover;
  background-position: center;
}

#botpost {
  background-image: url(assets/botnetposter02.jpg);
  background-size: cover;
  background-position: center;
}

.casebutton {
  padding: 15px;
  border: 1px solid black;
  font-family: 'aktiv-grotesk', sans-serif;
  font-size: 18px;
  background: transparent
}

.casebutton:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

@media only screen and (max-width: 1350px) {

  .projgrid {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-column-gap: 10px;
    grid-template-rows: auto auto;
    grid-row-gap: 10px;
  }

  .projpara {
    display: none;
  }

  .projpic-a {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .projpic-b {
    grid-column-start: 3;
    grid-column-end: 4;
  }

  .projpic-c {
    grid-column-start: 1;
    grid-column-end: 2;
  }

  .projpic-d {
    grid-column-start: 2;
    grid-column-end: 4;
  }

  .projpica-a {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .projpica-b {
    grid-column-start: 3;
    grid-column-end: 4;
  }

  .projpica-c {
    grid-column-start: 1;
    grid-column-end: 2;
  }

  .projpica-d {
    grid-column-start: 2;
    grid-column-end: 4;
  }

  .projparab {
    display: none;
  }

  .altparahold {
    display: block;
  }

  .projpica-bigright {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
  }


}
