* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: white;
}

#header {
  position: fixed;
  width: 100%;
  display: inline-grid;
  grid-template-columns: auto 250px;
  top: 0px;
  background-color: #1D3A39;
  z-index: 5;
}

.name {
  font-family: aktiv-grotesk, sans-serif;
  color: white;
  font-size: 20px;
  padding-left: 25px;
  margin-top: 16px;
}

.hold {
  width: 200px;
  background-color: white;
  display: inline-flex;
  margin-top: 10px;
}

.social {
  width: 250px;
  background-color: white;
  height: 60px;
}

.hold > div {
  padding: 10px;
  margin-left: 10px;
}


#main {
  background-color: #0057FF;
  width: 100%;
  height: 100vh;
}

.announce {
  padding-top: 20vh;
  font-size: 144px;
  color: white;
  font-family: aktiv-grotesk-extended, sans-serif;
  font-weight: 700;
  margin: auto;
  width: 1000px;
}

.button {
  font-family: aktiv-grotesk, sans-serif;
  color: white;
  font-size: 20px;
  padding: 10px;
  outline: 1px solid white;
  width: 200px;
  margin-top: 10vh;
}

/*add css transition to button*/

.button:hover {
  background-color: white;
  color: #0057FF;
}

#colorblocka {
  position: relative;
  height: 60px;
  width: 75%;
  background-color: #0FCE95;
  top: -60px;
}

#about {
  background-color: #0FCE95;
  width: 100%;
}

.para {
  width: 1000px;
  margin: auto;
  padding-top: 16vh;
  font-family: aktiv-grotesk-extended, sans-serif;
  color: white;
  font-size: 36px;
  padding-bottom: 20vh;
}

#double {
  display: inline-flex;
  width: 100%;
}

#work {
  width: 50%;
  background-color: #FF6969;
  display: inherit;
}

.contents {
  width: 330px;
  margin: auto;
  padding-top: 20vh;
  padding-bottom: 20vh;
}

.toprow {
  display: inline-block;
}

.projtitle {
  color: white;
  font-family: aktiv-grotesk-extended, sans-serif;
  font-weight: 700;
  font-size: 35px;
  margin-top: 20px;
  display: inherit;
}

.linki {
  display: inherit;
}

@keyframes clickme {
  0%    {padding-left: 0px;}
  50%   {padding-left: 15px;}
  100%  {padding-left: 0px;}

}

.projdscr {
  font-family: aktiv-grotesk, sans-serif;
  color: white;
  font-size: 20px;
}

.sectitle {
  font-family: aktiv-grotesk, sans-serif;
  font-weight: 700;
  color: white;
  font-size: 20px;
}



#writing {
  background-color: #AEAEAE;
  width: 50%;
}

#colorblockb {
  height: 60px;
  width: 100%;
  background-color: #0FCE95;
  clear: both;
}

#footer {
  background-color: #0057FF;
  width: 100%;
  height: 20vh;
}

.copyright {
  font-family: aktiv-grotesk, sans-serif;
  color: white;
  font-size: 20px;
  padding-left: 25px;
  padding-top: 14vh;
}

.socialnow {
  fill: #1D3A39;
}

svg:hover .socialnow {
  fill: #AEAEAE;
}

.colorblockc {
  width: 50%;
  height: 60px;
  float: right;
  background-color: #AEAEAE;
}

#blueover:hover {
  color: #0057FF;
}

/*screen specific sizing*//*screen specific sizing*//*screen specific sizing*//*screen specific sizing*//*screen specific sizing*/

@media only screen and (max-width: 1000px) {

 .announce {
   width: 90%;
   font-size: 12vh;
 }

 .para {
   width: 90%;
   font-size: 2.2em;
 }


}

@media only screen and (max-width: 414px) {
  #header {
    grid-template-columns: 50% 50%;
  }
  .hold {
    width: 100%;
  }

  .hold > div {
    margin-left: 2px;
  }

  .name {
    padding-left: 10%;
  }

  .social {
    width: 100%;
  }

  .para {
    line-height: 1.1em;
    width: 90%;
    font-size: 1.5em;
    padding-top: 3vh;
    padding-bottom: 16vh;
  }

  .announce {
    padding-top: 17vh;
    width: 90%;
    font-size: 5em;
    line-height: 1em;
  }

  #double {
    display: block;
  }

  #work {
    width: 100%;
  }

  #writing {
    width: 100%;
  }

  .button {
    line-height: 40px;
    padding: 10px;
    margin-top: 6vh;
  }

  .contents {
    width: 90%;
    padding-top: 16vh;
  }

  .projtitle {
    font-size: 1.5em;
  }

  #colorblockb {
    width: 33%;
    background-color: #FF6969;
  }

}
