* {
  box-sizing: border-box;
  line-height: normal;
}

a {
  text-decoration: none;
  color: black;
}

body {
    margin: 0 !important;
    padding: 0 !important;
}

@font-face {
  font-family: 'atlas-typewriter';
  src: url(assets/atlas-typewriter-detail-regular.ttf);
}

.header {
  position: fixed;
  width: 100%;
  display: inline-grid;
  grid-template-columns: auto 250px;
  top: 0px;
  z-index: 5;
}

.header.scrolled {
  background-color: black !important;
  transition: background-color 200ms linear;
}

#bithead.scrolled {
  background-color: #6F52D9 !important;
  transition: background-color 200ms linear;
}

.name {
  color: black;
  font-family: 'aktiv-grotesk', sans-serif;
  font-size: 20px;
  padding-left: 25px;
  margin-top: 16px;
}

#headlink {
  color: black;
}

#headlink.scrolled {
  color: white;
  transition: color 200ms linear;
}

#newname {
  background-color: transparent;
}

#newname.scrolled {
  background-color: #33BC6A !important;
  transition: background-color 200ms linear;
}


.hold {
  width: 200px;
  background-color: white;
  display: inline-flex;
  margin-top: 10px;
}

.social {
  width: 250px;
  background-color: white;
  height: 60px;
  background-color: white;
}

.hold > div {
  padding: 10px;
  margin-left: 10px;
}


#main {
  width: 100%;
  height: 100vh;
  background: #F7F7F7;
  padding: 0;
  margin: 0;
}

.ipfshold {
  /*display: inline-flex;*/
}

.ipfslab {
  font-family: 'aktiv-grotesk', sans-serif;
  font-size: 12px;
}

.ipfsright {
  position: relative;
  float: right;
  margin-top: -40px;
}

.ipfssub {
  display: inline-flex;
}

#mine {
  font-family: "atlas-typewriter", monospace;
  color: white;
  font-size: 10px;
  padding: 15px;
  outline: 1px solid #1D3A39;
  background-color: black;
  margin-left: 15px;
  margin-right: 0px;
  display: inherit;
}

#backwhite {
  background: white;
  display: inherit;
  width: 40px;
  border: 1px solid black;
  margin-right: 70px;
}

#vertcop {
  margin: auto;
}

#cophii {
  width: 17px;
}

.announce {
  font-size: 200px;
  color: black;
  font-family: aktiv-grotesk-extended, sans-serif;
  font-weight: 700;
  margin: auto;
  line-height: 200px;
}

#mainhold {
  width: 1000px;
  margin: auto;
}

#mainvert {
  display: inline-flex;
}

#heightcomp {
  height: 90vh;
}

.button {
  font-family: 'aktiv-grotesk', sans-serif;
  color: white;
  font-size: 20px;
  padding: 10px;
  outline: 1px solid black;
  width: 200px;
  margin-top: 6vh;
}

/*add css transition to button*/

.button:hover {
  background-color: black;
  color: white;
}

.button:hover > a {
  color: white;
}

#colorblocka {
  position: relative;
  height: 60px;
  width: 75%;
  background-color: black;
  top: -60px;
}

#about {
  background-color: black;
  width: 100%;
}

.para {
  width: 1000px;
  margin: auto;
  padding-top: 16vh;
  font-family: aktiv-grotesk-extended, sans-serif;
  color: white;
  font-size: 36px;
  padding-bottom: 20vh;
}

#double {
  display: inline-flex;
  width: 100%;
}

#work {
  width: 50%;
  background-color: white;
  display: inherit;
}

.contents {
  width: 330px;
  margin: auto;
  padding-top: 20vh;
  padding-bottom: 20vh;
}

.toprow {
  display: inline-block;
}

.projtitle {
  color: white;
  font-family: aktiv-grotesk-extended, sans-serif;
  font-weight: 700;
  font-size: 35px;
  margin-top: 20px;
  display: inherit;
}

.linki {
  display: inherit;
}

@keyframes clickme {
  0%    {padding-left: 0px;}
  50%   {padding-left: 15px;}
  100%  {padding-left: 0px;}

}

.projdscr {
  font-family: aktiv-grotesk, sans-serif;
  color: white;
  font-size: 20px;
}

.sectitle {
  font-family: aktiv-grotesk, sans-serif;
  font-weight: 700;
  color: black;
  font-size: 20px;
}



#writing {
  background: #F7F7F7;
  width: 50%;
}

#colorblockb {
  height: 60px;
  width: 100%;
  background-color: black;
  clear: both;
}

.footer {
  background-color: white;
  width: 100%;
  height: 20vh;
}

.copyright {
  font-family: aktiv-grotesk, sans-serif;
  color: black;
  font-size: 20px;
  padding-left: 25px;
  padding-top: 14vh;
}

.socialnow {
  fill: black;
}

.socialnowaba {
  fill: black;
}

svg:hover .socialnow {
  fill: #AEAEAE;
}

.colorblockc {
  width: 50%;
  height: 60px;
  float: right;
  background: #F7F7F7;
}

.fillit {
  /*fill: #F3F2FF;*/
}

/*
#blueover:hover {
  color: #0057FF;
}
*/



#abafooter {
  background-color: black;
  color: white;
}

#bithead {
  background-color: transparent;
}

/*screen specific sizing*//*screen specific sizing*//*screen specific sizing*//*screen specific sizing*//*screen specific sizing*/

@media only screen and (max-width: 1000px) {

  #mainhold {
    width: 90%;
  }

 .announce {
   font-size: 14vh;
   line-height: 14vh
 }

 #disp {
   display: none;
 }

 .para {
   width: 90%;
   font-size: 2.2em;
 }

 .button {
   line-height: 40px;
 }

 .ipfsright {
   display: none;
 }

 #double {
   display: block;
 }

 #work {
   width: 100%;
 }

 #writing {
   width: 100%;
 }

 #colorblockb {
   width: 33%;
   background-color: white;
 }


}

@media only screen and (max-width: 800px) {

  .announce {
    font-size: 7em;
    line-height: 1em;
  }

  .button {
    line-height: 40px;
  }

  #double {
    display: block;
  }

  #work {
    width: 100%;
  }

  #writing {
    width: 100%;
  }

  #colorblockb {
    width: 33%;
    background-color: white;
  }


}

@media only screen and (max-width: 600px) {

  #main {
    height: 85vh;
  }

  #heightcomp {
    height: 83vh;
  }

  .cutt {
    display: none;
  }

  .header {
    grid-template-columns: 50% 50%;
  }

  .hold {
    width: 100%;
  }

  .hold > div {
    margin-left: 2px;
  }

  .name {
    padding-left: 10%;
  }

  .social {
    width: 100%;
  }

  .para {
    line-height: 1.1em;
    width: 90%;
    font-size: 1.2em;
    padding-top: 3vh;
    padding-bottom: 16vh;
  }

  .announce {
    font-size: 4.3em;
    line-height: 1.2em;
  }

  #double {
    display: block;
  }

  #work {
    width: 100%;
  }

  #writing {
    width: 100%;
  }

  .button {
    line-height: 40px;
    text-align: center;
    margin-top: 6vh;
    font-size: 16px;
    width: 180px;
  }

  .contents {
    width: 90%;
    padding-top: 10vh;
    padding-bottom: 10vh;
  }

  .projtitle {
    font-size: 1.3em;
  }

  #colorblockb {
    width: 33%;
    background-color: white;
  }

}
