* {
  box-sizing: border-box;
}

#header {
  position: fixed;
  width: 100%;
  display: inline-grid;
  grid-template-columns: auto 250px;
  top: 0px;
  background-color: #1D3A39;
  z-index: 5;
}

.name {
  font-family: aktiv-grotesk, sans-serif;
  color: white;
  font-size: 20px;
  padding-left: 25px;
  margin-top: 16px;
}

.hold {
  width: 200px;
  background-color: white;
  display: inline-flex;
  margin-top: 10px;
}

.social {
  width: 250px;
  background-color: white;
  height: 60px;
}

.hold > div {
  padding: 10px;
  margin-left: 10px;
}


#main {
  background-color: #0057FF;
  width: 100%;
  height: 100vh;
}

.announce {
  padding-top: 20vh;
  font-size: 144px;
  color: white;
  font-family: aktiv-grotesk-extended, sans-serif;
  font-weight: 700;
  margin: auto;
  width: 1000px;
}

.button {
  border-radius: 25px;
  font-family: aktiv-grotesk, sans-serif;
  color: white;
  font-size: 20px;
  padding: 10px;
  outline: 1px solid white;
  width: 200px;
  margin-top: 10vh;
}

#colorblocka {
  position: relative;
  height: 60px;
  width: 75%;
  background-color: #0FCE95;
  top: -60px;
}

#about {
  background-color: #0FCE95;
  width: 100%;
}

.para {
  width: 1000px;
  margin: auto;
  padding-top: 16vh;
  font-family: aktiv-grotesk-extended, sans-serif;
  color: white;
  font-size: 36px;
  padding-bottom: 20vh;
}

#double {
  display: inline-flex;
  width: 100%;
}

#work {
  width: 50%;
  background-color: #FF6969;
  display: inherit;
}

.contents {
  width: 330px;
  margin: auto;
  padding-top: 20vh;
  padding-bottom: 20vh;
}

.toprow {
  display: inline-block;
}

.projtitle {
  color: white;
  font-family: aktiv-grotesk-extended, sans-serif;
  font-weight: 700;
  font-size: 35px;
  margin-top: 20px;
  display: inherit;
}

.linki {
  display: inherit;
}

.projdscr {
  font-family: aktiv-grotesk, sans-serif;
  color: white;
  font-size: 20px;
}

.sectitle {
  font-family: aktiv-grotesk, sans-serif;
  font-weight: 700;
  color: white;
  font-size: 20px;
}



#writing {
  background-color: #AEAEAE;
  width: 50%;
}

#colorblockb {
  height: 60px;
  width: 100%;
  background-color: #0FCE95;
  clear: both;
}

#footer {
  background-color: #0057FF;
  width: 100%;
  height: 20vh;
}

.copyright {
  font-family: aktiv-grotesk, sans-serif;
  color: white;
  font-size: 20px;
  padding-left: 25px;
  padding-top: 14vh;
}

.socialnow {
  fill: #1D3A39;
}

svg:hover .socialnow {
  fill: #AEAEAE;
}

.colorblockc {
  width: 50%;
  height: 60px;
  float: right;
  background-color: #AEAEAE;
}
